/* Reset */
*{margin: 0; padding: 0; box-sizing: border-box;}

/* Styling */
html{
    scroll-behavior: smooth;
}

body{
    background-color: #272727;
    font-family: 'Rubik', sans-serif;
    color: #EFF1F3;
}

h1{
    color: #009FB7;
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 1.25rem 0;
}

h2{
    color: #009FB7;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}

h3{
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 0.62 0;
}

.p{
    font-size: 1rem;
    font-weight: 400;
}

.p-large{
    font-size: 1.25rem;
    font-weight: 400;
}

a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #EFF1F3;
}

a:hover{
    color: #009FB7;
    transition: 200ms ease-in;
}

a.current{
    color: #009FB7;
    border-bottom: 2px solid #009FB7;
}

.btn-primary{
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.31rem;
    color: #272727;
    background-color: #EFF1F3;
    border: 1px solid #EFF1F3;
}

.btn-primary:hover{
    color: #EFF1F3;
    background-color: #009FB7;
    border: 1px solid #009FB7;
}

.btn-secondary{
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.31rem;
    border: 1px solid #EFF1F3;
}

.btn-secondary:hover{
    border: 1px solid #009FB7;
    color: #009FB7;
    transition: 200ms ease-in;
}

li{
    text-decoration: none;
    display: inline-block;
    padding: 0 0 0 1rem;
}

header{
    padding: 1.88rem 0 1rem 0; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #272727;
    z-index: 1;
}

.display-1{
    color: #009FB7;
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .display-1{
        font-size: 5rem;
    }
}

.display-2{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .display-2{
        font-size: 2rem;
    }
}

.my-work{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.splash-hello{
    height: 90vh;
}

.smooth{
    scroll-behavior: smooth;
}

.hello-text{
    margin: auto 0 auto 0;
}

#projects-section h1{
    padding-top: 1rem;
    margin-top: 6rem;
}

.project-card{
    margin: 3.75rem 0 0 0; 
}

img{
    border-radius: 0.31rem;
    border: 3px solid #EFF1F3;
}

.project-card img{
    margin: 0 0 0.62rem 0;
}

.project-line:nth-child(2) .project-card{
    margin: 1.88rem 0 0 0;
}

.project-date{
    color: #009FB7;
    font-size: 1.25rem;
    font-weight: 400;
}

footer{
    margin: 10rem 0 2rem 0;
}

footer li{
    padding: 0 1rem 0 0;
}

footer h3{
    margin: 0 0 0.31rem 0;
}

.footer-border{
    margin: 0 0 0.62rem 0;
    border-top: 1px solid #EFF1F3;
}

.splash-hello .material-symbols-rounded{
    font-size: 48px;
}

.project-intro, .about-intro{
    margin: 3.78rem 0 0 0;
}

.project-info{
    margin: 5.63rem 0 0 0;
    padding: 1rem;
    border: 3px solid #009FB7;
}

.project-info h3{
    text-align: center;
}

.project-info p{
    text-align: center;
}

.back-btn{
    margin: 0 0 1.28rem 0;
}

.back-btn i{
    margin: 0 0.25rem 0 0; 
}

.text-group{
    margin: 5.62rem 0 0 0;
}

.text-group p:not(:first-of-type){
    margin: 1.5rem 0 0 0;
}

.project-images img{
    margin: 1.88rem 0 0 0;
}

.project-images img:nth-child(1){
    margin: 5.62rem 0 0 0;
}

.about-text h1, .about-text p{
    margin: 0 0 1.25rem 0;
} 

.experiences-section{
    margin: 5.62rem 0 0 0;
}

.experiences-section h2{
    margin: 0 0 0.94rem 0;
}

@media screen and (max-width: 576px) {
    .curriculum {
        margin: 5.62rem 0 0 0;
    }
}

.experience-group h3, .curriculum-group h3{
    margin: 0.94rem 0 0 0;
    color: #009FB7;
}

.experience-group .p-large, .curriculum-group .p-large{
    margin: 0.31rem 0 0 0;
}

.experience-group p, .curriculum-group p{
    margin: 0.62rem 0 0 0;
}

.experience-group hr, .curriculum-group hr{
    margin: 0.94rem 0 0 0;
    opacity: 0.5;
}

.exp-date{
    font-weight: 500;
}